.DS_STORE

node_modules
.angular/

# Include when developing application packages.
.c9
.idea/
.devcontainer/*
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
.settings/
.vscode/launch.json
.vscode/settings.json
*.swo
.vimrc
.nvimrc

# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# Yarn v2+. Zero installs disablled since we are not using PnP anyway
# and a still would still be needed. Can be revisited in the future.
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/yarn.js

# User specific bazel settings
.bazelrc.user

# Bazel generated directories
/dist/
/bazel-out

# Ignore ng-dev logs and user-config
.ng-dev.err*
.ng-dev.log
.ng-dev.user*

# Don't check in junit test results.
test-results/*

# Ignore firebase debug logs.
apps/*-debug.log
