.yarn/releases/*.cjs

ng-dev/utils/protos/*.d.ts
ng-dev/utils/protos/*.js

github-actions/feature-request/main.js
github-actions/lock-closed/main.js
github-actions/commit-message-based-labels/main.js
github-actions/slash-commands/main.js
github-actions/post-approval-changes/main.js
.github/local-actions/changelog/main.js
