{
  "name": "@angular/dev-infra-private",
  "version": "0.0.0",
  "description": "INTERNAL USE ONLY - Angular internal DevInfra tooling/scripts - INTERNAL USE ONLY",
  "license": "MIT",
  "private": true,
  "bin": {
    "ng-dev": "./ng-dev_bundle.js"
  },
  "peerDependenciesMeta": {
    "@bazel/buildifier": {
      "optional": true
    },
    "clang-format": {
      "optional": true
    },
    "prettier": {
      "optional": true
    },
    "protractor": {
      "optional": true
    },
    "selenium-webdriver": {
      "optional": true
    }
  }
}
