common --@aspect_rules_ts//ts:skipLibCheck=always
common --@aspect_rules_ts//ts:default_to_tsc_transpiler

import ../../../../.bazelrc
import ../.bazelrc

####################################################
# User bazel configuration
# NOTE: This needs to be the *last* entry in the config to allow for it to override other
#   configuration in this file.
####################################################

# Load any settings which are specific to the current user. Needs to be *last* statement
# in this config, as the user configuration should be able to overwrite flags from this file.
try-import ../../../../.bazelrc.user
