# Flag for validation/demonstration of partial compilation usage.
build --flag_alias=partial_compilation=//src/ng_project/config:partial_compilation

import ../../../.bazelrc

# Toolchain and platform related flags
build:remote --extra_execution_platforms=@devinfra//bazel/remote-execution:platform_with_network
build:remote --host_platform=@devinfra//bazel/remote-execution:platform_with_network
build:remote --platforms=@devinfra//bazel/remote-execution:platform_with_network

####################################################
# User bazel configuration
# NOTE: This needs to be the *last* entry in the config to allow for it to override other
#   configuration in this file.
####################################################

# Load any settings which are specific to the current user. Needs to be *last* statement
# in this config, as the user configuration should be able to overwrite flags from this file.
try-import ../../../.bazelrc.user
