common --@aspect_rules_ts//ts:skipLibCheck=always
common --@aspect_rules_ts//ts:default_to_tsc_transpiler

# Flag for validation/demonstration of partial compilation usage.
build --flag_alias=partial_compilation=//src/ng_project/config:partial_compilation

import ../../../.bazelrc.common

####################################################
# User bazel configuration
# NOTE: This needs to be the *last* entry in the config to allow for it to override other
#   configuration in this file.
####################################################

# Load any settings which are specific to the current user. Needs to be *last* statement
# in this config, as the user configuration should be able to overwrite flags from this file.
try-import ../../../.bazelrc.user
