@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$red-palette);
$accent: mat.define-palette(mat.$blue-gray-palette, A200, A100, A400);

$light-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
  @include mat.all-component-themes($dark-theme);
}

@media (prefers-color-scheme: light) {
  @include mat.all-component-themes($light-theme);
}
