name: Branch Manager

on:
  workflow_dispatch:
    inputs:
      repo:
        type: string
        required: true
      owner:
        type: string
        required: true
      pr:
        type: number
        required: true
      # sha is optional, and unused in this action.
      sha:
        type: string
        required: false

# Declare default permissions as read only.
permissions: read-all

jobs:
  branch_manager:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          # Setting `persist-credentials: false` prevents the github-action account from being the
          # account that is attempted to be used for authentication, instead the remote is set to
          # an authenticated URL.
          persist-credentials: false
      - uses: ./.github/local-actions/branch-manager
        with:
          angular-robot-key: ${{ secrets.ANGULAR_ROBOT_PRIVATE_KEY }}
          repo: ${{ inputs.repo }}
          owner: ${{ inputs.owner }}
          pr: ${{ inputs.pr }}
