name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 0
      - uses: ./github-actions/setup-bazel-remote-exec
        with:
          bazelrc: .bazelrc
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # tag=v3.6.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # tag=v3.3.1
        with:
          path: |
            ~/.cache/bazelisk
          key: ${{ github.job }}-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ github.job }}-${{ runner.os }}-
      - run: yarn install --immutable
      - run: yarn ng-dev format changed --check ${{ github.event.pull_request.base.sha }}
      - run: yarn ng-dev commit-message validate-range ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }}
      - run: yarn lint
      - run: yarn tsc -p tsconfig.json

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 0
      - uses: ./github-actions/setup-bazel-remote-exec
        with:
          bazelrc: .bazelrc
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # tag=v3.6.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # tag=v3.3.1
        with:
          path: |
            ~/.cache/bazelisk
          key: ${{ github.job }}-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ github.job }}-${{ runner.os }}-
      - run: yarn install --immutable
      - run: yarn bazel test -- //...

  test-win:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # tag=v3.6.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # tag=v3.3.1
        with:
          enableCrossOsArchive: true
          path: |
            %AppData%/bazelisk
          key: ${{ github.job }}-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ github.job }}-${{ runner.os }}-
      - run: yarn install --immutable
      - run: yarn bazel test --test_tag_filters=windows --build_tests_only -- ... -bazel/remote-execution/...

  test-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 0
      - uses: ./github-actions/setup-bazel-remote-exec
        with:
          bazelrc: .bazelrc
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # tag=v3.6.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # tag=v3.3.1
        with:
          path: |
            ~/Library/Caches/bazelisk
          key: ${{ github.job }}-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ github.job }}-${{ runner.os }}-
      - run: yarn install --immutable
      - run: yarn bazel test --test_tag_filters=macos --build_tests_only -- //... -//bazel/remote-execution/...
