name: CI

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

concurrency:
  group: ci-${{ github.sha }}
  cancel-in-progress: true

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - uses: ./github-actions/setup-bazel-remote-exec
        with:
          bazelrc: .bazelrc
      - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # tag=v3.3.1
        with:
          path: |
            .yarn/cache
            .yarn/install-state.gz
          key: v1-${{hashFiles('yarn.lock')}}
      - run: yarn install --immutable
      - run: yarn ng-dev format changed --check ${{ github.event.pull_request.base.sha }}
      - run: yarn ng-dev commit-message validate-range ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }}
      - run: yarn lint
      - run: yarn tsc -p tsconfig.json

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./github-actions/setup-bazel-remote-exec
        with:
          bazelrc: .bazelrc
      - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # tag=v3.3.1
        with:
          path: |
            .yarn/cache
            .yarn/install-state.gz
          key: v1-${{hashFiles('yarn.lock')}}
      - run: yarn install --immutable
      - run: yarn bazel test -- //...

  test-win:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # tag=v3.3.1
        with:
          enableCrossOsArchive: true
          path: |
            .yarn/cache
            .yarn/install-state.gz
          key: v1-${{hashFiles('yarn.lock')}}
      - run: yarn install --immutable
      - run: yarn bazel test --test_tag_filters=windows --build_tests_only -- ... -bazel/remote-execution/...

  test-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./github-actions/setup-bazel-remote-exec
        with:
          bazelrc: .bazelrc
      - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # tag=v3.3.1
        with:
          path: |
            .yarn/cache
            .yarn/install-state.gz
          key: v1-${{hashFiles('yarn.lock')}}
      - run: yarn install --immutable
      - run: yarn bazel test --test_tag_filters=macos --build_tests_only -- //... -//bazel/remote-execution/...
