name: Feature request triage bot

on: [workflow_dispatch]

# Declare default permissions as read only.
permissions:
  contents: read

jobs:
  feature_triage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./github-actions/feature-request
        with:
          angular-robot-key: ${{ secrets.ANGULAR_ROBOT_PRIVATE_KEY }}
