name: Feature request triage bot

on: [workflow_dispatch]

# Declare default permissions as read only.
permissions:
  contents: read

jobs:
  feature_triage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./github-actions/feature-request
        with:
          angular-robot-key: ${{ secrets.ANGULAR_ROBOT_PRIVATE_KEY }}
