name: Feature request triage bot

on: [workflow_dispatch]

# Declare default permissions as read only.
permissions:
  contents: read

jobs:
  feature_triage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./github-actions/feature-request
        with:
          angular-robot-key: ${{ secrets.ANGULAR_ROBOT_PRIVATE_KEY }}
