name: Angular-Org Renovate

on:
  workflow_dispatch:
  schedule:
    # Runs every 60 minutes.
    # This is the recommanded running time https://github.com/renovatebot/renovate/discussions/16658
    - cron: '0/60 * * * *'

# Declare default permissions as read only.
permissions:
  contents: read

jobs:
  renovate:
    strategy:
      matrix:
        REPOSITORY:
          - angular/angular
          - angular/dev-infra
          - angular/components
          - angular/angular-cli
          - angular/vscode-ng-language-service
    runs-on: ubuntu-latest
    steps:
      # Because the checkout and setup node action is contained in the dev-infra repo, we must
      # checkout the repo to be able to run the action we have created.  Other repos will skip
      # this step.
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./github-actions/npm/checkout-and-setup-node
      - run: npm install --global pnpm@9.15.9
        shell: bash

      # TODO: Use pnpm/action-setup for pnpm install once pnpm is the packageManager for this repo
      - run: yarn --cwd .github/ng-renovate install --immutable
        shell: bash

      # Note: Run Renovate outside of Yarn as otherwise we would end up breaking Yarn path
      # resolution due to Yarn setting `YARN_IGNORE_PATH`. This would cause vendored Yarn
      # installations to be ignored and lock file generation for repositories to break.
      - run: .github/ng-renovate/node_modules/.bin/renovate
        env:
          LOG_LEVEL: debug
          RENOVATE_TOKEN: ${{ secrets.NG_RENOVATE_USER_ACCESS_TOKEN }}
          RENOVATE_FORK_TOKEN: ${{ secrets.NG_RENOVATE_USER_ACCESS_TOKEN }}
          GITHUB_COM_TOKEN: ${{ secrets.NG_RENOVATE_USER_ACCESS_TOKEN }}
          RENOVATE_CONFIG_FILE: .github/ng-renovate/runner-config.js
          RENOVATE_REPOSITORIES: ${{ matrix.REPOSITORY }}
