name: Angular-Org Renovate

on:
  workflow_dispatch:
  schedule:
    # Runs every 60 minutes.
    # This is the recommanded running time https://github.com/renovatebot/renovate/discussions/16658
    - cron: '0/60 * * * *'

# Declare default permissions as read only.
permissions:
  contents: read

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
      # Note: we use `date` as part of the key hash so that we create a new cache every day.
      # We do not use `restore-keys` so that the cache does not keep growing.
      - uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
        with:
          path: |
            .github/ng-renovate/.yarn/cache
            /tmp/renovate
          key: v2-renovate-${{hashFiles('.github/ng-renovate/yarn.lock')}}-${{ steps.date.outputs.date }}
      - run: yarn install --immutable --cwd .github/ng-renovate
        shell: bash

      # Note: Run Renovate outside of Yarn as otherwise we would end up breaking Yarn path
      # resolution due to Yarn setting `YARN_IGNORE_PATH`. This would cause vendored Yarn
      # installations to be ignored and lock file generation for repositories to break.
      - run: .github/ng-renovate/node_modules/.bin/renovate
        env:
          LOG_LEVEL: debug
          RENOVATE_TOKEN: ${{ secrets.NG_RENOVATE_USER_ACCESS_TOKEN }}
          RENOVATE_FORK_TOKEN: ${{ secrets.NG_RENOVATE_USER_ACCESS_TOKEN }}
          GITHUB_COM_TOKEN: ${{ secrets.NG_RENOVATE_USER_ACCESS_TOKEN }}
          RENOVATE_CONFIG_FILE: .github/ng-renovate/runner-config.js
