name: Angular Org Actions

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # Runs once per day.

# Declare default permissions as read only.
permissions:
  contents: read

jobs:
  labels_sync:
    if: github.repository == 'angular/dev-infra'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./.github/local-actions/labels-sync
        with:
          angular-robot-key: ${{ secrets.ANGULAR_ROBOT_PRIVATE_KEY }}
          repos: |
            dev-infra
            angular
            angular-cli
            components

  lock_closed:
    if: github.repository == 'angular/dev-infra'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./.github/local-actions/lock-closed
        with:
          lock-bot-key: ${{ secrets.LOCK_BOT_PRIVATE_KEY }}
          repos: |
            dev-infra
            angular
            angular-cli
            components
            flex-layout
            vscode-ng-language-service
            universal
