name: Post Approval Changes

on: [pull_request_target]

# Declare default permissions as read only.
permissions: read-all

jobs:
  post_approval_changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./github-actions/post-approval-changes
        with:
          angular-robot-key: ${{ secrets.ANGULAR_ROBOT_PRIVATE_KEY }}
