name: Slash Commands

on:
  issue_comment:
    types: [created, edited]

# Declare default permissions as read only.
permissions:
  contents: read

jobs:
  slash_commands:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: ./github-actions/slash-commands
        with:
          angular-robot-key: ${{ secrets.ANGULAR_ROBOT_PRIVATE_KEY }}
          circleci-token: ${{ secrets.CIRCLECI_TOKEN }}
